<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item">
        <div class="oj-flex oj-flex-items-pad page-header-container" data-bind="css: !$dashboard.isDashboard() ? 'txn-page' : ''">
            <div class="oj-flex oj-sm-flex-items-initial oj-flex-item oj-sm-align-items-center">
                <div>
                    <!-- ko with : $dashboard.headerName() -->
                    <!-- ko if: $dashboard.headerName() !== 'Login' -->
                    <h1 class="comp-title" data-bind="text:$data" tabindex="-1"></h1>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if : $dashboard.headerCaption() --><span class="comp-title sub-heading" data-bind="html:$dashboard.headerCaption"></span>
                    <!-- /ko -->
                </div>
                <div id="headingCustomSpace" class="oj-helper-margin-start-auto"></div>
            </div>
        </div>
    </div>
</div>